@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

a {
  text-decoration: none;
}

.content {
  margin-left: 150px;
  font-family: 'Josefin Sans', sans-serif;
}

.breadcrumb {
  margin-top: 10px;
}

.foto-pengaduan {
  width: 20%;
}

.card-pengaduan {
  width: 90%;
}

.ml-body-card {
  margin-left: -110px;
}

.tanggapan-title {
  margin-left : 100%;
}

.body-tanggapan {
  margin-top: 30px;
}

.card-tanggapan {
    width: 90%;
    margin-left: 200px;
    height: 150px;
}

#tanggapan {
    width: 100%;
    height: 148px;
}

.btn-tanggapan {
  margin-left: 803px;
  margin-top: 5px;
}

.img-pengaduan {
  width: 50%;
}

.tgl-pengaduan {
  margin-left: 83%;
}

.tgl-tanggapan {
  margin-left: 21%;
}

.button-delete {
  color: red;
}

.button-delete:hover {
  color: rgba(232, 10, 9, .6);
}

.button-pulihkan {
    color: rgb(15, 128, 0);
}

.button-pulihkan:hover {
    color: rgba(15, 128, 0, .6);
}

.breadcrumb a {
  color: #6b7481 !important;
}

.button-detail {
  color: green;
}

.button-detail:hover {
    color: rgba(0, 128, 0, .6);
}

.tanggal-pengaduan {
  width: 40%;
}